<!--To render the base-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trial1</title>
  <!--use the css file from css-->
  <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/CustomizedBootStrap.css" type="text/css" >
  <script src="../js/jquery.js"></script>
  <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="../js/bootstrap.js"></script>
  <style>
    .col-center-block{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <!--apply the base head-->
</head>
<body>
<section class="mb-5">
  <nav class="navbar navbar-expand-lg bg-primary bg-gradient navbar-dark shadow text-light fixed-top">
    <!--mark the style and fix the navigation at the top-->
    <div class="container">
      <a href="#" class="navbar-brand">Book<span class="text-warning">Management System</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <!--link to the frontpage for the user-->
          <li class="nav-item"><a class="nav-link" href="/BookManagement">Book Management</a></li>
          <!--link to the commodities display page, still constructing...-->
          <li class="nav-item"><a class="nav-link" href="/CustomerManagement">Customer Management</a></li><!--link to all the shops-->
          <li class="nav-item"><a class="nav-link" href="/AuthorManagement">Author Management</a></li>
          <li class="nav-item"><a class="nav-link" href="/BookCopiesManagement">Book Copies Management</a> </li>
          <li class="nav-item"><a class="nav-link" href="/BookRentalsManagement">Book Rentals</a></li><!--link to the shopping cart, still constructing...-->
          <!--log out function-->
        </ul>
      </div>
    </div>
  </nav>
</section>
<!--First Section is the overall intro of the application-->
<section class="p-5 bg-dark mt-5">
  <!--use the container to control the margin of the content (ensure not the full screen but in limit area)-->
  <div class="container mt-5">
    <!--use the grid to control the layout of the two pieces (picture and text part)-->
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <!--75% width height + responsive adjustment-->
        <img src="../pictureResouce/book2.png" class="img-fluid w-50">
      </div>
      <!--text part, padding 5 with light text and lead font-->
      <div class="col-md p-5 lead text-light">
        <h2>Add or Remove Book Copies Here</h2>
        <p class="lead text-light">
          This page is used to add or remove book copies in the repository
        </p>
        <!--A Search function, providing with an input area (haven't implement the function yet)-->
      </div>

    </div>
  </div>

</section>
<!--This section is the display of the shops in the database-->
<h3 class="text-warning text-center" th:each="j:${error}" th:text="${j.getMsg()}"></h3>

<section class="bg-light p-5">
  <div class="container mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="float: right"><span class="text-light">Add Book Copy</span></button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo" style="float: right"><span class="text-light">Remove Book Copy</span></button>
    <table  class="table mt-6 table-striped table-hover text-center justify-content-center">
      <thead class="thead-dark">
      <tr>
        <!--title of the table-->
        <th scope="col">Book Title</th>
        <th scope="col">ISBN Number</th>
        <th scope="col">Authors</th>
        <th scope="col">Section</th>
        <th scope="col">Shelf</th>
      </tr>
      </thead>
      <tbody th:each="i:${book}">
      <tr>
        <!--iterate the details and use jinja placing the info to the table-->
        <td><h4 th:text="${i.getTitle()}"></h4></td>
        <td><h4 th:text="${i.getIsbnNumber()}"></h4></td>
        <td><h4 th:each="Author:${i.getAuthors()}" th:text="${Author.getName()}"></h4></td>
        <td><h4 th:text="${i.getSection()}"></h4></td>
        <td><h4 th:text="${i.getShelf()}"></h4></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="bg-light">
  <div class="container ">
    <h2 class="text-center">Book Copies ID List</h2>
    <div class="heading-line"></div>
    <table class="table mt-6 table-striped table-hover text-center justify-content-center">
      <thead class="thead-dark">
      <tr>
        <!--title of the table-->
        <th scope="col">Book Copies ID</th>
      </tr>
      </thead>
      <tbody th:each="i:${idList}">
      <tr>
        <!--iterate the details and use jinja placing the info to the table-->
        <td><h4 th:text="${i}"></h4></td></tr>
      </tbody>
    </table>
  </div>
</section>

<!--Boostrap 模态框 （马）-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 20%">
    <div class="modal-content">
      <h4 class="modal-title align-items-center text-center">Add Book Copies Form</h4>
      <div class="modal-header">
        <div class="modal-body">
          <div>
            <form id="addBook" th:action="@{/addBookCopies}" method="post">
              <div class="form-group">
                <label class="control-label">Book ID</label>
                <input type="text" class="form-control" name="bookIdAdd" value="">
              </div>
              <div class="form-group">
                <label class="control-label">Number of Copies</label>
                <input type="text" class="form-control" name="numberCopies" value="">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary form-control mt-7" id="submitBookInfo">Add</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 20%">
    <div class="modal-content">
      <h4 class="modal-title align-items-center text-center">Remove Book Copies Form</h4>
      <div class="modal-header">
        <div class="modal-body">
          <div>
            <form id="RemoveBookCopy" th:action="@{/removeBookCopy}" method="post">
              <div class="form-group">
                <label class="control-label">Removed Book Copy ID</label>
                <input type="text" class="form-control" name="bookIdRemove" value="">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary form-control mt-7" id="submitRemoveInfo">Remove</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<script>
  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
  })

  $(function() {
    $('#submitBookInfo').one('click', function() {

    });
  });


</script>
</body>
</html>